$cards: (
    asesoria: url(../multimedia/s-asesoria.png),
    colorimetria: url(../multimedia/s-colorimetria.png),
    express: url(../multimedia/s-express.png),
    looks: url(../multimedia/s-looks.png),
    shopping: url(../multimedia/s-shopping.png),
    grupal: url(../multimedia/s-grupal.png),
    guardarropas: url(../multimedia/s-guardarropas.png),
    eventos: url(../multimedia/s-eventos.png),
);

@each $servicio, $imagen in $cards{
    .servicio-#{$servicio} {
        background-image: $imagen;
        height: 700px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        filter: grayscale(70%);
        &:hover{
            filter: grayscale(0%);
            scale: 1.01;
            box-shadow: 0px 5px 10px 0px $color1;
        }
    }
}
.services ul li a{
    @include texto($color5, 26px, 1, 200);
}
.row{
    padding: 2rem;
}
.card{
    margin-bottom: 1.5rem;
}
.card-img-overlay{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.card-title{
    @include texto($color5, 24px, 1, 400);
    text-transform: uppercase;
    margin-bottom: 8px;
}
.highlight{
    @include texto($color5, 24px, 1, 1000); 
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    .services ul li a{
        font-size: 20px;
    }
    .card-img-overlay{
        padding: 28px;
    }
    .services .card-text{
        font-size: 22px;
    }
    .highlight{
        font-size: 24px; 
        text-align: left; 
        margin-bottom: 0px; 
    }  
}
@media only screen and (min-width: 768px) and (max-width: 992px){
    .services ul li a{
        font-size: 20px;
    }
    .card-img-overlay{
        padding: px;
    }
    .services .card-text{
        font-size: 22px;
    }
    .highlight{
        font-size: 24px; 
        text-align: left; 
        margin-bottom: 0px; 
    }  
}