/* WORKSHOPS  */
#carouselWorkshops .carousel-inner{
    display: flex;
    height: 90vh;
    width: 100%;
    padding: 0px 40px;
    margin-bottom: 40px;
    align-content: center;
    align-items: center;
}
.carousel-caption{
    bottom:20rem;
    background-color: rgba(255, 255, 255, 0.47);
}
.carousel-caption h3{
    font-size: 50px;
}
.carousel-caption .highlight{
    font-size: 28px;
}
@media only screen and (max-width: 575px){  
    #carouselWorkshops .carousel-inner{
        height: 60vh;
        padding: 0px 16px;
    }
    .carousel-caption{
        bottom: 10rem;
    }
    .carousel-item{
        overflow: hidden;
    } 
    .carousel-item img{
        width: 150%!important; 
    }
    .services ul li a{
        font-size: 18px;
    }
    .carousel-caption h3{
        font-size: 30px;   
    } 
    .carousel-caption .highlight{
        font-size: 20px; 
        text-align: center;  
    } 
}
@media only screen and (min-width: 576px) and (max-width: 767px){
    #carouselWorkshops .carousel-inner{
        height: 60vh;
    }
    .carousel-caption{
        bottom: 3rem;
    }
    .carousel-caption h3{
        font-size: 40px;
    }
    .carousel-caption .highlight{
        text-align: center;
    }
    #workshops .subtitle{
        margin-bottom: 0px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 992px){ 
    #carouselWorkshops .carousel-inner{
        height: 80vh;
    }
    .carousel-caption{
        bottom: 5rem;
    }
    .carousel-caption .highlight{
        text-align: center;
    }
    #workshops .subtitle{
        margin-bottom: 0px;
    }
}