@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  box-sizing: border-box;
}

header {
  height: 86px;
}
header nav {
  align-items: center;
  background-color: #fff;
}
header nav img {
  height: 60px;
  width: auto;
  margin: 0px 36px 0px 36px;
}
header nav ul li {
  font-size: 30px;
  text-align: center;
  margin: 0px 16px;
  justify-content: flex-end;
}
header nav ul li a {
  color: #747474;
}
header nav ul li a:hover {
  color: #000;
  text-decoration: underline;
  text-decoration-color: #000;
}
header nav .dropdown-menu li:hover {
  background-color: #afadad;
}
header nav .dropdown-item {
  text-align: left;
  font-size: 26px;
  color: #747474;
}
header nav .dropdown-item:hover {
  text-decoration: none;
}
header nav .navbar-toggler {
  border: none;
}
header nav .navbar-toggler :hover {
  background-color: #afadad;
}
header nav .offcanvas-title {
  color: #575757;
}

h1 {
  color: #575757;
  font-size: 68px;
  letter-spacing: 1;
  font-weight: 600;
  margin-top: 48px;
  padding: 40px 0px 24px 48px;
}

h2 {
  color: #575757;
  font-size: 61px;
  letter-spacing: 1;
  font-weight: 50;
  padding-bottom: 24px;
  padding-top: 36px;
}

h3 {
  color: #575757;
  font-size: 26px;
  letter-spacing: 1;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 8px;
}

strong {
  color: #575757;
  font-size: 36px;
  letter-spacing: 1;
  font-weight: 400;
  text-transform: uppercase;
}

p {
  color: #575757;
  font-size: 24px;
  letter-spacing: 0.5px;
  font-weight: 100;
  margin-bottom: 20px;
}

.subtitle {
  color: #575757;
  font-size: 34px;
  letter-spacing: 0.25px;
  font-weight: 100;
  margin: 0px 48px 40px 48px;
}

.banner {
  width: 100%;
  height: 1100px;
  background-size: cover;
  background-position: bottom;
  background-image: url(../multimedia/banner.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1 {
  color: #fff;
  font-size: 68px;
  letter-spacing: 1;
  font-weight: 600;
  width: 100%;
  height: 200px;
  margin-bottom: 150px;
  text-align: center;
  animation-name: rebote;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-duration: 5s;
}

@keyframes rebote {
  0% {
    font-size: 76px;
  }
  50% {
    font-size: 84px;
    text-shadow: 0 0 10px 10px #000;
  }
  100% {
    font-size: 76px;
  }
}
section {
  width: 100%;
  height: auto;
  color: #575757;
  display: flex;
  align-items: center;
  padding: 0px 24px 32px 24px;
}

#me {
  background-color: #d6d6d6;
  justify-content: space-evenly;
  align-items: flex-start;
}

.picture {
  width: 328px;
  height: 328px;
  border-radius: 50%;
  overflow: hidden;
  border: 5px solid #fff;
  box-shadow: 0 0 10px 5px #747474;
}
.picture img {
  width: 100%;
  height: auto;
}

.description {
  width: 60%;
  height: auto;
}

#about {
  text-align: center;
  flex-direction: column;
  padding: 40px 80px 40px 80px;
  margin-bottom: 24px;
}

#opinion {
  display: inline-block;
  justify-content: center;
  text-align: center;
  box-shadow: inset 0px 25px 20px -20px #afadad;
  padding-top: 50px;
}

.carousel-inner {
  width: 70%;
  height: 400px;
  background-color: #fff;
  padding: 20px 0px;
}

.cardContent {
  font-style: italic;
}

.cardName {
  font-weight: bold;
  margin-bottom: 0;
}

.cardService {
  font-style: italic;
  margin: 0;
}

footer {
  background-image: url(../multimedia/low-poly-grid-haikei\ \(1\).png);
  background-repeat: no-repeat;
  background-size: cover;
  color: #575757;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 36px;
}

.newsletter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.newsletter label {
  font-size: 16px;
  font-weight: bold;
}

.input, form textarea, form input {
  height: 40px;
  padding: 0px 16px 0px 16px;
  border: 1px solid #afadad;
  border-radius: 5px;
  margin: 8px;
  font-size: 16px;
}

.newsletterButton, .sendButton, .card-1 .btn, .card-3 .btn, .card-2 .btn {
  height: 40px;
  background-color: #575757;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 1.25px;
  border: 0px;
  border-radius: 5px;
  margin: 8px;
}
.newsletterButton:hover, .sendButton:hover, .card-1 .btn:hover, .card-3 .btn:hover, .card-2 .btn:hover {
  box-shadow: #afadad 0px 3px 8px;
}
.newsletterButton:active, .sendButton:active, .card-1 .btn:active, .card-3 .btn:active, .card-2 .btn:active {
  background-color: #000;
}

.links {
  display: flex;
  justify-content: center;
  text-decoration: none;
  margin: 24px;
}

.linkInstagram, .linkMail {
  margin: 0px 24px;
  height: 80px;
  width: 80px;
  background-image: url(../multimedia/icon_instagram.png);
  background-size: cover;
}

.linkMail {
  background-image: url(../multimedia/icon_email.png);
}

body::-webkit-scrollbar {
  width: 16px;
}

body::-webkit-scrollbar-thumb {
  background: #afadad;
  border-radius: 8px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #747474;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
}

body::-webkit-scrollbar-track {
  background: #e1e1e1;
  border-radius: 4px;
}

body::-webkit-scrollbar-track:hover,
body::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}

@media only screen and (max-width: 575px) {
  header nav img {
    margin: 0px;
  }
  .navbar-nav {
    padding-left: 16px;
  }
  .nav-item {
    font-size: 20px;
  }
  .dropdown-menu {
    border: none;
    justify-content: center;
  }
  .dropdown-menu li {
    border-bottom: solid 1px #afadad;
  }
  nav ul li {
    margin: 0px;
    text-align: left;
  }
  .dropdown-item {
    font-size: 20px;
    margin: 8px 0px;
    padding-left: 0;
  }
  .banner {
    height: 100vh;
  }
  .banner h1 {
    font-size: 46px;
    font-weight: 600;
    width: auto;
    height: auto;
    padding: 0;
  }
  @keyframes rebote {
    0% {
      font-size: 46px;
    }
    50% {
      font-size: 52px;
      text-shadow: 0 0 10px 10px #000;
    }
    100% {
      font-size: 46px;
    }
  }
  #me {
    flex-direction: column;
    align-items: center;
  }
  .description {
    width: 100%;
    padding: 0px 16px;
  }
  .picture {
    width: 200px;
    height: 200px;
    border: 3px solid #fff;
  }
  h1 {
    font-size: 28px;
    margin-top: 36px;
    padding: 0px 0px 0px 16px;
  }
  h2 {
    font-size: 28px;
    padding-top: 24px;
    text-align: center;
  }
  .subtitle {
    margin: 0px 16px 24px 16px;
    font-size: 18px;
    text-align: left;
  }
  p {
    font-size: 16px;
    text-align: center;
    margin-bottom: 8px;
  }
  strong {
    font-size: 22px;
  }
  #about {
    padding: 0px 24px 32px 24px;
  }
  .textCenter {
    padding: 0px 16px;
  }
  .cardName {
    font-size: 16px;
  }
  .cardService {
    font-size: 16px;
  }
  footer {
    padding: 16px;
  }
  footer h3 {
    font-size: 24px;
    padding-bottom: 8px;
    margin: 8px;
  }
  .newsletterInput {
    text-align: center;
  }
  .links {
    margin: 8px;
  }
  .linkInstagram, .linkMail {
    height: 64px;
    width: 64px;
  }
  .linkMail {
    height: 64px;
    width: 64px;
  }
  body::-webkit-scrollbar {
    width: 8px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  header nav img {
    margin: 0px;
  }
  .navbar-nav {
    padding-left: 16px;
  }
  .nav-item {
    font-size: 24px;
  }
  .dropdown-menu {
    border: none;
    justify-content: center;
  }
  .dropdown-menu li {
    border-bottom: solid 1px #afadad;
  }
  nav ul li {
    margin: 0px;
    text-align: left;
  }
  .dropdown-item {
    font-size: 22px;
    margin: 8px 0px;
    padding-left: 0;
  }
  .banner {
    height: 100vh;
  }
  .banner h1 {
    font-size: 48px;
    font-weight: 600;
    width: auto;
    height: auto;
    padding: 0;
  }
  @keyframes rebote {
    0% {
      font-size: 52px;
    }
    50% {
      font-size: 58px;
      text-shadow: 0 0 10px 10px #000;
    }
    100% {
      font-size: 52px;
    }
  }
  section {
    flex-direction: column;
  }
  #me {
    flex-direction: column;
    align-items: center;
  }
  .description {
    width: 100%;
    padding: 0px 16px;
  }
  .picture {
    width: 300px;
    height: 300px;
    border: 3px solid #fff;
  }
  h1 {
    font-size: 40px;
    margin-top: 36px;
    padding: 24px 0px 16px 24px;
  }
  h2 {
    font-size: 36px;
    padding-top: 24px;
    text-align: center;
  }
  .subtitle {
    margin: 0px 24px 24px 24px;
    font-size: 24px;
    text-align: left;
  }
  p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 8px;
  }
  strong {
    font-size: 24px;
  }
  .textCenter {
    padding: 0px 16px;
  }
  .cardName {
    font-size: 16px;
  }
  .cardService {
    font-size: 16px;
  }
  .card-text {
    text-align: left;
  }
  footer {
    padding: 16px;
  }
  footer h3 {
    font-size: 24px;
    padding-bottom: 8px;
    margin: 8px;
  }
  .newsletterInput {
    text-align: center;
  }
  .links {
    margin: 8px;
  }
  .linkInstagram, .linkMail {
    height: 64px;
    width: 64px;
  }
  .linkMail {
    height: 64px;
    width: 64px;
  }
  body::-webkit-scrollbar {
    width: 10px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  header nav img {
    margin: 8px;
  }
  .navbar-nav {
    padding-left: 16px;
  }
  .offcanvas-title {
    font-size: 40px;
  }
  .nav-item {
    font-size: 28px;
    margin: 8px 0px;
  }
  .dropdown-menu {
    border: none;
    justify-content: center;
  }
  .dropdown-menu li {
    border-bottom: solid 1px #afadad;
  }
  .dropdown-item {
    font-size: 26px;
    margin: 8px 0px;
    padding-left: 0;
  }
  .banner {
    height: 100vh;
  }
  .banner h1 {
    font-weight: 600;
    width: auto;
    height: auto;
    padding: 0;
  }
  @keyframes rebote {
    0% {
      font-size: 74px;
    }
    50% {
      font-size: 80px;
      text-shadow: 0 0 10px 10px #000;
    }
    100% {
      font-size: 74px;
    }
  }
  section {
    flex-direction: column;
  }
  #me {
    flex-direction: column;
    align-items: center;
  }
  .description {
    width: 100%;
    padding: 0px 16px;
  }
  .picture {
    width: 320px;
    height: 320px;
    border: 3px solid #fff;
  }
  h1 {
    margin-top: 20px;
    font-size: 56px;
    padding-left: 36px;
  }
  h2 {
    padding-top: 32px;
    text-align: center;
  }
  .subtitle {
    margin: 0px 36px 30px 36px;
    font-size: 26px;
    text-align: left;
  }
  p {
    font-size: 22px;
    text-align: center;
    margin-bottom: 16px;
  }
  .textCenter {
    padding: 0px 16px;
  }
  .cardName {
    font-size: 22px;
  }
  .cardService {
    font-size: 22px;
  }
  .card-text {
    text-align: left;
  }
  footer {
    padding: 24px;
  }
  footer h3 {
    font-size: 36px;
    padding-bottom: 12px;
    margin: 8px;
  }
  .links {
    margin: 24px;
  }
  body::-webkit-scrollbar {
    width: 12px;
  }
}
.servicio-asesoria {
  background-image: url(../multimedia/s-asesoria.png);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(70%);
}
.servicio-asesoria:hover {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 5px 10px 0px #747474;
}
.servicio-asesoria:active {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 10px 20px 0px #747474;
}

.servicio-colorimetria {
  background-image: url(../multimedia/s-colorimetria.png);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(70%);
}
.servicio-colorimetria:hover {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 5px 10px 0px #747474;
}
.servicio-colorimetria:active {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 10px 20px 0px #747474;
}

.servicio-express {
  background-image: url(../multimedia/s-express.png);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(70%);
}
.servicio-express:hover {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 5px 10px 0px #747474;
}
.servicio-express:active {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 10px 20px 0px #747474;
}

.servicio-looks {
  background-image: url(../multimedia/s-looks.png);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(70%);
}
.servicio-looks:hover {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 5px 10px 0px #747474;
}
.servicio-looks:active {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 10px 20px 0px #747474;
}

.servicio-shopping {
  background-image: url(../multimedia/s-shopping.png);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(70%);
}
.servicio-shopping:hover {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 5px 10px 0px #747474;
}
.servicio-shopping:active {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 10px 20px 0px #747474;
}

.servicio-grupal {
  background-image: url(../multimedia/s-grupal.png);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(70%);
}
.servicio-grupal:hover {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 5px 10px 0px #747474;
}
.servicio-grupal:active {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 10px 20px 0px #747474;
}

.servicio-guardarropas {
  background-image: url(../multimedia/s-guardarropas.png);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(70%);
}
.servicio-guardarropas:hover {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 5px 10px 0px #747474;
}
.servicio-guardarropas:active {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 10px 20px 0px #747474;
}

.servicio-eventos {
  background-image: url(../multimedia/s-eventos.png);
  height: 700px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(70%);
}
.servicio-eventos:hover {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 5px 10px 0px #747474;
}
.servicio-eventos:active {
  filter: grayscale(0%);
  scale: 1.01;
  box-shadow: 0px 10px 20px 0px #747474;
}

ul.breadcrumb {
  margin-left: 32px;
  padding: 24px 16px;
  list-style: none;
}
ul.breadcrumb li {
  display: inline;
  color: #575757;
  font-size: 22px;
  letter-spacing: 1;
  font-weight: 500;
}
ul.breadcrumb li a {
  color: #afadad;
  text-decoration: none;
  font-weight: 100;
}
ul.breadcrumb li a:hover {
  color: #000;
  font-weight: 500;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: #575757;
  content: "> ";
}

.nav-tabs li a {
  color: #575757;
  font-size: 26px;
  letter-spacing: 1;
  font-weight: 200;
}

.row {
  padding: 1.5rem;
  margin: 0;
}

.card {
  margin-bottom: 1.5rem;
}
.card p {
  text-align: left;
}

.card-img-overlay {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card-title {
  color: #575757;
  font-size: 24px;
  letter-spacing: 1;
  font-weight: 400;
  text-transform: uppercase;
  margin-bottom: 8px;
  text-align: left;
  padding: 16px 0px;
}

.highlight {
  color: #575757;
  font-size: 24px;
  letter-spacing: 1;
  font-weight: 1000;
}

@media only screen and (max-width: 575px) {
  ul.breadcrumb {
    margin-left: 16px;
    padding: 16px 8px;
  }
  ul.breadcrumb li {
    font-size: 16px;
  }
  .nav-tabs li a {
    font-size: 18px;
  }
  .servicio-asesoria {
    height: 500px;
  }
  .servicio-colorimetria {
    height: 500px;
  }
  .servicio-express {
    height: 500px;
  }
  .servicio-looks {
    height: 500px;
  }
  .servicio-shopping {
    height: 500px;
  }
  .servicio-grupal {
    height: 500px;
  }
  .servicio-guardarropas {
    height: 500px;
  }
  .servicio-eventos {
    height: 500px;
  }
  .card-title {
    font-size: 20px;
    padding: 8px 0px;
  }
  .highlight {
    font-size: 20px;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  ul.breadcrumb {
    margin-left: 16px;
    padding: 16px 8px;
  }
  ul.breadcrumb li {
    font-size: 22px;
  }
  .nav-tabs li a {
    font-size: 22px;
  }
  .servicio-asesoria {
    height: 600px;
  }
  .servicio-colorimetria {
    height: 600px;
  }
  .servicio-express {
    height: 600px;
  }
  .servicio-looks {
    height: 600px;
  }
  .servicio-shopping {
    height: 600px;
  }
  .servicio-grupal {
    height: 600px;
  }
  .servicio-guardarropas {
    height: 600px;
  }
  .servicio-eventos {
    height: 600px;
  }
  .card-title {
    font-size: 24px;
    padding: 12px 0px;
    margin: 0;
  }
  .card-img-overlay {
    padding: 16px;
  }
  .highlight {
    font-size: 24px;
    margin-bottom: 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  ul.breadcrumb {
    margin-left: 28px;
    padding: 16px 8px;
  }
  ul.breadcrumb li {
    font-size: 22px;
  }
  .nav-tabs li a {
    font-size: 22px;
  }
  .servicio-asesoria {
    height: 500px;
  }
  .servicio-colorimetria {
    height: 500px;
  }
  .servicio-express {
    height: 500px;
  }
  .servicio-looks {
    height: 500px;
  }
  .servicio-shopping {
    height: 500px;
  }
  .servicio-grupal {
    height: 500px;
  }
  .servicio-guardarropas {
    height: 500px;
  }
  .servicio-eventos {
    height: 500px;
  }
  .card-title {
    font-size: 24px;
    padding: 12px 0px;
    margin: 0;
  }
  .highlight {
    font-size: 24px;
    margin-bottom: 0px;
  }
}
#carouselWorkshops .carousel-inner {
  height: 90vh;
  width: 100%;
  padding: 0px 40px;
  margin-bottom: 40px;
}

.carousel-caption {
  background-color: rgba(255, 255, 255, 0.66);
}
.carousel-caption h2 {
  color: #575757;
  font-size: 50px;
  letter-spacing: 1;
  font-weight: 400;
  text-transform: uppercase;
}
.carousel-caption .highlight {
  font-size: 28px;
}

.carousel-control-prev-icon, .carousel-control-next-icon {
  width: 4rem;
  height: 4rem;
}

@media only screen and (max-width: 575px) {
  #carouselWorkshops .carousel-inner {
    height: 60vh;
    padding: 0px 16px;
  }
  .carousel-caption {
    bottom: 10rem;
  }
  .carousel-caption h2 {
    font-size: 30px;
  }
  .carousel-caption .highlight {
    font-size: 20px;
  }
  .carousel-item {
    overflow: hidden;
  }
  .carousel-item img {
    width: auto !important;
    height: 60vh;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 2rem;
    height: 2rem;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  #carouselWorkshops .carousel-inner {
    height: 60vh;
    padding: 0px 24px;
  }
  .carousel-caption {
    bottom: 3rem;
  }
  .carousel-caption h2 {
    font-size: 40px;
  }
  .carousel-caption .highlight {
    font-size: 26px;
  }
  .carousel-item {
    overflow: hidden;
  }
  .carousel-item img {
    width: auto !important;
    height: 60vh;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 2.5rem;
    height: 2.5rem;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  #carouselWorkshops .carousel-inner {
    height: 80vh;
    padding: 0px 36px;
  }
  .carousel-caption {
    bottom: 5rem;
  }
  .carousel-item {
    overflow: hidden;
  }
  .carousel-item img {
    width: auto !important;
    height: 80vh;
  }
  .carousel-control-prev-icon, .carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
  }
}
.card-1 .img-container, .card-3 .img-container, .card-2 .img-container {
  background-image: url(../multimedia/blog1.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-2 .img-container {
  background-image: url(../multimedia/blog2.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.card-3 .img-container {
  background-image: url(../multimedia/blog3.jpg);
  height: 400px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.temas {
  width: 100%;
  display: flex;
  align-items: center;
}
.temas ul {
  padding-left: 0px;
}
.temas ul li {
  list-style: none;
  height: 64px;
  display: inline-block;
  text-align: center;
  padding: 72px 0px 0px 48px;
}
.temas ul li a {
  color: #747474;
  font-size: 20px;
  letter-spacing: 0.15px;
  padding: 16px 16px;
  background-color: #efe4bf;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 5px;
  transition: box-shadow padding 1s;
}
.temas ul li a:hover {
  box-shadow: 0px 5px 10px 0px #afadad;
}

.card-1, .card-3, .card-2 {
  padding: 28px;
  flex-direction: column;
  border: none;
}
.card-1 .card-title, .card-3 .card-title, .card-2 .card-title {
  color: #575757;
  font-size: 30px;
  letter-spacing: 1;
  font-weight: 400;
  border-bottom: 3px solid #efe4bf;
  height: 135px;
  width: 100vw;
  display: table-cell;
  vertical-align: middle;
  padding: 16px 0px;
  text-align: left;
}
.card-1 .card-header, .card-3 .card-header, .card-2 .card-header {
  background-color: rgba(239, 228, 191, 0.3137254902);
}
.card-1 .card-header p, .card-3 .card-header p, .card-2 .card-header p {
  font-size: 18px;
  margin: 0;
  padding: 8px;
  text-align: left;
}
.card-1 .card-text, .card-3 .card-text, .card-2 .card-text {
  padding-top: 16px;
  text-align: left;
}
.card-1 .btn, .card-3 .btn, .card-2 .btn {
  width: auto;
  margin: 0;
}
.card-1 .btn:hover, .card-3 .btn:hover, .card-2 .btn:hover {
  box-shadow: #afadad 0px 3px 8px;
  background-color: #575757;
  color: #fff;
}
.card-1 .btn:active, .card-3 .btn:active, .card-2 .btn:active {
  background-color: #000;
}

.blog .col {
  padding: 0px;
}

@media only screen and (max-width: 575px) {
  .temas {
    padding: 24px 0px 0px 16px;
  }
  .temas ul li {
    height: 36px;
    padding: 0px 8px 0px 0px;
    margin-bottom: 8px;
  }
  .temas ul li a {
    font-size: 16px;
    padding: 8px 8px;
  }
  .card-1, .card-2, .card-3 {
    padding: 0px;
    margin-bottom: 24px;
  }
  .card-1 .card-title, .card-2 .card-title, .card-3 .card-title {
    font-size: 24px;
    height: auto;
  }
  .card-1 .card-header p, .card-2 .card-header p, .card-3 .card-header p {
    font-size: 16px;
    padding: 4px;
  }
  .card-1 .card-text, .card-2 .card-text, .card-3 .card-text {
    padding-top: 8px;
  }
  .blog {
    padding: 0 16px;
    margin: 0;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  .temas {
    padding: 24px 0px 0px 24px;
  }
  .temas ul li {
    height: 36px;
    padding: 0px 24px 0px 0px;
  }
  .temas ul li a {
    font-size: 16px;
    padding: 8px 8px;
  }
  .card-1, .card-2, .card-3 {
    margin-bottom: 32px;
    padding: 0px;
  }
  .card-1 .card-title, .card-2 .card-title, .card-3 .card-title {
    font-size: 24px;
    height: auto;
  }
  .card-1 .card-header p, .card-2 .card-header p, .card-3 .card-header p {
    font-size: 16px;
    padding: 8px;
  }
  .card-1 .card-text, .card-2 .card-text, .card-3 .card-text {
    padding-top: 8px;
  }
  .blog {
    padding: 0px 24px;
    margin: 0;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .temas {
    padding-bottom: 32px;
  }
  .temas ul li {
    height: 56px;
    padding: 56px 0px 0px 36px;
  }
  .temas ul li a {
    font-size: 18px;
  }
  .card-1, .card-2, .card-3 {
    margin-bottom: 48px;
    padding: 0px;
  }
  .card-1 .card-title, .card-2 .card-title, .card-3 .card-title {
    height: auto;
    padding: 24px 0px;
  }
  .card-1 .card-header p, .card-2 .card-header p, .card-3 .card-header p {
    padding: 12px;
  }
  .card-1 .card-text, .card-2 .card-text, .card-3 .card-text {
    padding-top: 8px;
  }
  .blog {
    padding: 0px 36px;
    margin: 0;
  }
}
.contactoMain {
  background-image: url(../multimedia/main_background.png);
  background-position: top;
  background-size: contain;
  background-repeat: no-repeat;
}

.contactoMain h1 {
  margin-top: 0;
  padding-top: 64px;
}

form {
  width: 100%;
  padding: 64px 48px 48px 48px;
}
form label {
  color: #575757;
  font-size: 18px;
}
form input {
  width: 100%;
  margin-bottom: 32px;
  margin-left: 0px;
}
form input:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
form input:focus {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  outline: none;
  border: none;
  scale: 1.01;
}
form select {
  color: #575757;
  font-size: 16px;
  padding: 8px 36px 8px 8px;
  background-color: #f5f5f5;
  margin-bottom: 32px;
  margin-top: 8px;
  border: 1px solid #d6d6d6;
  border-radius: 5px;
}
form select:focus {
  outline: none;
}
form textarea {
  width: 100%;
  height: 160px;
  margin-bottom: 32px;
  margin-left: 0px;
}
form textarea:hover {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
form textarea:focus {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  outline: none;
  border: none;
  scale: 1.01;
}

.checkbox {
  display: flex;
  align-content: center;
  flex-wrap: nowrap;
}
.checkbox input {
  margin: 0px 8px 24px 0px;
  appearance: none;
  background-color: #fff;
  padding: 0;
  color: #747474;
  width: 24px;
  height: 24px;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;
}
.checkbox input::before {
  content: "";
  width: 18px;
  height: 18px;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #afadad;
  background-color: #747474;
  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
.checkbox input:checked::before {
  transform: scale(1);
}
.checkbox input:focus {
  outline: max(2px, 0.15em) solid currentColor;
  outline-offset: max(2px, 0.15em);
}

.sendButton {
  width: 20%;
  margin-left: 0;
}

@media only screen and (max-width: 575px) {
  form {
    padding: 16px;
  }
  form label {
    font-size: 16px;
  }
  form input {
    margin-bottom: 16px;
  }
  .checkboxText {
    margin: 0px;
  }
  .sendButton {
    width: 100%;
    margin: 16px 0px;
  }
}
@media only screen and (min-width: 576px) and (max-width: 767px) {
  form {
    padding: 36px;
  }
  form label {
    font-size: 18px;
  }
  form input {
    margin-bottom: 16px;
  }
  .sendButton {
    width: 100%;
    margin: 16px 0px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  form {
    padding: 36px;
  }
  .sendButton {
    width: 100%;
    margin: 16px 0px;
  }
}

/*# sourceMappingURL=estilos.css.map */
